.search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-results .house {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #718355;
    padding-bottom: 1rem;
}

.search-results .house .house-picture {
    height: 10rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.search-results .house .house-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-results .house .house-info .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-results .house .house-info .title a{
    color: #718355;
}

.search-results .house .house-info .price {
    font-size: 1rem;
}

.search-results .house .house-info .city {
    font-size: 1rem;
}

.search-results .house .house-info .rooms {
    font-size: 1rem;
}

.booking-button {
    padding: 0.7rem;
    width: 120px;
    border-radius: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.filters {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.sort-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sort-button {
    margin-left: 5px;
}

.sort-button:hover {
    cursor: pointer;
}

.filter {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.remove-filter:hover {
    cursor: pointer;
}

.button-steps-container-bookings {
    font-size: 1.3rem;
    margin: 1rem auto;
}

@media (max-width:768px) {
    .filters {
        flex-direction: column;
    }
    .search-results .house {
        flex-direction: column;
    }
    .booking-button {
        width: 100%;
    }
    .search-results .house .house-picture {
        width: 80vw;
    }
}