.edit-profile-page {
    width: 90vw;
    display: flex;
    flex-direction: column;
    height: min-content;
    margin: auto;
}


.input-container-profile {
    width: 90vw;
    height: 70vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "dataContainer"
    "dataContainer"
    "editButtonProfile"
    ;
}


.input-container-profile>h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}


.data-container {
    width: 90vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas:
    "upContainer"
    "bio"
    "downContainer"
    ;
}


.up-container-profile {
    width: 90vw;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}


.first-name-profile, .last-name-profile {
    width: 20vw;
    font-size: 1.3rem;
}


.first-name-profile>input, .last-name-profile>input, .bio-profile>textarea, .email-profile>input, .confirm-email-profile>input, .password-profile>input, .confirm-password-profile>input {
    box-sizing: border-box;
    width: 20vw;
    height: 35px;
    font-size: 1.3rem;
    background-color: #B5C99A;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #2e2e2ed7;
}


.email-profile, .confirm-email-profile {
    width: 150px;
    font-size: 1.3rem;
}


.email-profile>input, .confirm-email-profile>input {
    width: 150px;
    height: 35px;
    font-size: 1.2rem;
}


.bio-profile {
    width: 60vw;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    grid-area: bio;
}


.bio-profile>textarea {
    width: 90vw;
    height: 100px;
}


.down-container-profile {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}


.password-profile {
    width: 200px;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}


.password-profile>input {
    width: 210px;
    height: 35px;
    font-size: 1rem;
}


.confirm-password-profile {
    width: 210px;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}


.confirm-password-profile>input {
    box-sizing: border-box;
    width: 210px;
    height: 35px;
    font-size: 1.3rem;
}

.picture-container {
    display: flex;
    justify-content: start;
    gap: 2rem;
    align-items: center;
}

.picture-container .picture {
    gap: 1rem;
    background-color: #B5C99A;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
    font-size: 12px;
}

#chosen-file {
    font-size: 12px;
}


.edit-button-profile {
    width: 180px;
    height: 40px;
    border-radius: 7px;
    font-size: 1.3rem;
    background-color: #B5C99A;
    border: none;
    cursor: pointer;
    justify-self: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.618);
}



.edit-confirm-message-container {
    box-sizing: border-box;
    width: 40vw;
    height: min-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}


.edit-confirm-message-container>span {
    font-size: 2rem;
    margin: 0;
}


.edit-confirm-message-container>p {
    margin: 0;
}


.link-modal-edit-profile {
    text-decoration: none;
    color: black;
    width: 150px;
    height: 30px;
    padding: 0.5rem;
    text-align: center;
    background-color: #c0c3de;
    border-radius: 10px;
}


.avatar-preview {
    width: 40vw;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width: 768px) {
    .edit-profile-page {
        width: 90vw;
        margin: auto;
        height: min-content;
    }
    .input-container-profile {
        width: 97vw;
        height: 800px;
    }
    .data-container {
        display: flex;
        flex-direction: column;
        height: min-content;
        margin-bottom: 30px;
    }
    .up-container-profile {
        width: 70vw;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .first-name-profile>input, .last-name-profile>input, .bio-profile>textarea, .email-profile>input, .confirm-email-profile>input, .password-profile>input, .confirm-password-profile>input {
        box-sizing: border-box;
        width: 93vw;
        height: 35px;
        margin-bottom: 1rem;
    }
    .bio-profile>textarea {
        height: 100px;
    }
    .email-profile, .confirm-email-profile {
        width: 60vw;
    }
    .password-profile, .confirm-password-profile {
        width: 60vw;
    }
    .down-container-profile {
        width: 60vw;
        display: block;
    }
    .avatar-container {
        height: 240px;
    }
    .avatar {
        width: 125px;
        height: 125px;
    }

    .edit-button-profile {
        margin: 0 auto;

    }
}


@media (max-width: 480px) {
    .input-container-profile {
        display: flex;
        flex-direction: column;
    }
    .data-container {
        display: flex;
        flex-direction: column;
        height: min-content;
    }
    .up-container-profile {
        width: 90vw;
        height: min-content;
        display: flex;
        flex-direction: column;
    }
    .email-profile, .confirm-email-profile {
        width: 80vw;
    }
    .first-name-profile>input, .last-name-profile>input, .bio-profile>textarea, .email-profile>input, .confirm-email-profile>input, .password-profile>input, .confirm-password-profile>input {
        box-sizing: border-box;
        width: 90vw;
        height: 35px;
        margin-bottom: 1rem;
    }
    .bio-profile>textarea {
        width: 90vw;
        height: 100px;
    }
    .down-container-profile {
        width: 90vw;
    }
    .password-profile {
        width: 100vw;
        font-size: 1.3rem;
    }
    .password-profile>input {
        height: 35px;
        font-size: 1rem;
    }
    .confirm-password-profile {
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }
    .confirm-password-profile>input {
        box-sizing: border-box;
        height: 35px;
        font-size: 1.3rem;
    }
    .password-profile, .confirm-password-profile {
        width: 80vw;
    }
    .edit-button-profile {
        margin: 0;
        margin-bottom: 4.5rem;
        width: 90vw;
        height: 50px;
    }

    .edit-confirm-message-container {
        width: 80vw;
        height: 50vh;
        font-size: 1.2rem;
    }
}
