.ad-page {
    width: 80vw;
    height: min-content;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    flex-grow: 1;
}

.title-ad-page {
    text-align: start;
}

.ad-page div {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 70vw;
}

.ad-page div label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ad-page input {
    margin-top: 10px;
    border-radius: 8px;
    padding: 5px;
    border: none;
    background-color: #B5C99A;
}

.ad-page input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.ad-page textarea {
    width: 70vw;
    height: 15vh;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: #B5C99A;
}

#ad-button {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
}

@media (max-width:768px) {

    .ad-page {
        width: 90vw;
    }

    .ad-page div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 1rem;
        max-width: none;
    }

    .ad-page input {
        padding: 15px;
        width: 80vw;
    }

    .ad-page textarea {
        width: 85vw;
    }

    #ad-button {
        width: 80vw;
        padding: 15px;
    }

    #picture-container {
        display: flex;
        flex-direction: row;
    }
}