.pending-bookings-page {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto 2rem auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.received-pending-bookings-section {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.received-pending-bookings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card-received-booking {
    border-bottom: 1px solid #718355;
    width: 70vw;
    height: min-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-received-booking:nth-child(3), .card-received-booking:last-child {
    border-bottom: none;
}

.picture-received-booking {
    height: 14rem;
    width: 30vw;
    min-width: 500px;
    max-width: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.booking-data-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.title-received-booking {
    width: 100%;
    font-size: 1.5rem;
    color: #718355;
}


.tenant-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.tenant-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: cover;
}

.date-card-pending-bookings-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.buttons-received-bookings {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons-received-bookings span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    width: 100px;
    border-radius: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.button-steps-container-pendings-bookings {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-steps-container-pendings-bookings span {
    font-size: 1.3rem;
    cursor: pointer;
}


.made-pending-bookings-section {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.made-pending-bookings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.booking-made-data{
    gap: 1rem;
}


.button-made-bookings {
    justify-content: center;
}

@media(max-width: 768px) {
    .pending-bookings-page h3 {
        text-align: center;
    }
    .picture-received-booking {
        width: 80vw;
    }
    .card-received-booking {
        width: 80vw;
    }
}