.pic-upload {
    padding: 10px;
    border: 1px solid rgb(156, 148, 148);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
.pic-upload .ad-image {
  display: flex;
  flex-direction: column;
}


.pic-upload .preview {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.pic-upload .ad-image button {
  height: 30px;
  width: 158px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px;
  background-color: #B5C99A;  
}

.pic-upload .ad-image button:hover {
  cursor: pointer;
}

  
.pic-upload .preview.add {
  background-color: #B5C99A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.pic-upload .preview.add::before {
  content: '+';
}

.pic-upload .preview.add input {
  display: none
}
  