.botonDrop {
    border: none !important;
    background-color: lightgray  !important;
    height: 7vh !important;
    width: 200px !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    border-radius: 20px !important;
    color: black !important;

}

.menuPerfil {
    text-decoration: none;
    color: black;
}

.linkMenuPerfil {
    display: flex !important;
    justify-content: center !important;
}

