.tenant-profile-error-message-off {
    display: none;
}

.tenant-profile-error-message-on {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70vw;
    height: 50vh;
    text-align: center;
    margin-top: 5rem;
}

.tenant-profile-error-message-on h2 {
    text-align: left;
}

.tenant-profile-error-message-on p {
    margin: 5rem;
    font-size: 1.5rem;
    align-self: center;
}

.tenant-profile-page-off {
    display: none;
}

.tenant-profile-page-on {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tenant-profile-page-on h2 {
    align-self: flex-start;
    margin-left: 3rem;
    margin-top: 3rem;
}


.historic-bookings-container .card-house-historic-booking {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #718355;
    padding-bottom: 1rem;
    justify-content: space-around;
    width: 80vw;
    max-width: 1200px;
    margin-top: 1rem;
}

.card-house-historic-booking .picture-historic-booking {
    height: 12rem;
    width: 40vw;
    max-width: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    flex-shrink: 0;
}

.card-house-historic-booking .data-booking-container {
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: space-around;
}

.title-historic-booking {
    font-size: 1.5rem;
    color: #718355;
}

.rating-historic-tenant {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.rating-historic-tenant span {
    font-size: xx-large;

}

.for-rating abbr {
    text-decoration: none;
    font-size: xx-large;
    cursor: pointer;
}

.button-rating {
    padding: 0.7rem;
    width: 100px;
    border-radius: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.button-steps-container-bookings span, .button-steps-container-ratings span {
    font-size: 1.5rem;
    cursor: pointer;
}

.ratings-section-off {
    display: none;
}


.historic-ratings-container {
    width: 90vw;
    height: 400px;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 3rem;
}


.ratings-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    justify-content: center;
    align-items: center;
}


section.cards-ratings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 200px;
    margin-top: 3rem;
}

.card-historic-rating span {
    font-size: 2.5rem;
}


.ratings-section-on {
    width: 80vw;
}

.ratings-section-on h2 {
    margin-left: 3rem;
}


.date-rating {
    margin-left: 3rem;
}


.average-ratings {
    box-sizing: border-box;
    width: 250px;
    height: 325px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.618);
}


.average-ratings-number {
    font-size: 4rem;
}


.average-ratings .puntuacion {
    font-size: 3rem;
}

.emoji-rating {
    font-size: 4rem;
}


@media (max-width: 768px) {
    .tenant-profile-page-on>h2 {
        margin-left: 1rem;
        text-align: center;
    }
    .card-house-historic-booking {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .date-card-bookings, .puntuacion, .title-historic-booking {
        font-size: 1rem;
        width: 80vw;
        display: block;
        margin: 0.5rem auto;
        margin-top: 0.5rem;
        text-align: center;
    }
    .title-historic-booking {
        font-size: 1.5rem;
    }
    div.state-booking {
        text-align: center;
    }
    .button-steps-container {
        margin: 1rem auto 0 auto;
    }
    .historic-ratings-container {
        width: 80vw;
        margin: auto;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }
    .rating-historic-tenant div {
        justify-content: center;
        gap: 1rem;
    }
    .button-steps-container-bookings, .button-steps-container-ratings {
        margin: auto;
    }
    .ratings-container {
        width: 70vw;
        font-size: 0.5rem;
        height: min-content;
    }
    .ratings-section-on {
        margin-top: 2.5rem;
    }
    .ratings-section-on h2 {
        margin: auto;
    }
    .card-historic-rating {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .card-historic-rating span {
        font-size: 1.5rem;
        margin-left: 0;
    }
    .card-historic-rating .puntuacion {
        width: min-content;
    }
    .average-ratings {
        width: 70vw;
        height: 60px;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .average-ratings .puntuacion, .emoji-rating {
        display: none;
    }
    .average-ratings h3 {
        margin-bottom: 0.5rem;
    }
    .average-ratings-number {
        font-size: 3rem;
    }
}

