.tenant-profile-page-off {
    display: none;
}


.tenant-profile-page-on {
    height: 1600px;
}

.tenant-profile-error-message-off {
    display: none;
}

.tenant-profile-error-message-on {
    text-align: center;
    margin-top: 5rem;
    font-size: 2.5rem;
}

.tenant-profile-page-on>h2 {
    margin-left: 3rem;
    margin-top: 3rem;
}


.historic-bookings-container {
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.historic-bookings-container>h2 {
    width: 100vw;
    margin: 0;
    font-size: 1.5rem;
    margin-left: 2rem;
}



.card-house-historic-booking {
    box-sizing: border-box;
    width: 100vw;
    height: 280px;
    padding: 1rem 4rem;
    border-bottom: 5px double #718355;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: 75px 50px 100px;
    grid-template-areas:
    "picture title"
    "picture date"
    "picture stateBooking"
    ;
}


.picture-historic-booking {
    box-sizing: border-box;
    width: 550px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    grid-area: picture;
}


.title-historic-booking {
    color: black;
    margin: auto;
    margin-left: 2rem;
    font-size: 2rem;
    width: 30vw;
    cursor: pointer;
    grid-area: title;
}


.date-historic-booking {
    margin: auto;
    margin-left: 2rem;
    font-size: 1.2rem;
    width: 30vw;
    grid-area: date;
}


.state-booking {
    margin: auto;
    margin-left: 2rem;
    font-size: 1.2rem;
    width: 30vw;
    grid-area: stateBooking;
}

.rating-historic-tenant form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.rating-historic-tenant abbr, .rating-historic-tenant span {
    text-decoration: none;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.star-for-rating {
    cursor: pointer;
}

.button-rating {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #B5C99A;
    box-shadow: 1px 1px 3px;
    border: none;
    cursor: pointer;
}

section.button-steps-container-bookings {
    text-align: center;
}


.button-steps-container-bookings span {
    width: min-content;
    margin: auto;
    font-size: 2.5rem;
    cursor: pointer;
}


.button-steps-container-bookings>span {
    box-sizing: border-box;
    padding: 0.2rem;
}


.ratings-section-off {
    display: none;
}


.historic-ratings-container {
    width: 90vw;
    height: 400px;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 3rem;
}


.ratings-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    justify-content: center;
    align-items: center;
}


section.cards-ratings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 200px;
    margin-top: 3rem;
}

.card-historic-rating span {
    font-size: 2.5rem;
}

.button-steps-container-ratings span {
    font-size: 2rem;
}

.ratings-section-on h2 {
    margin-left: 3rem;
}


.date-rating {
    margin-left: 3rem;
}


.average-ratings {
    box-sizing: border-box;
    width: 250px;
    height: 325px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.618);
}


.average-ratings-number {
    font-size: 4rem;
}


.average-ratings .puntuacion {
    font-size: 3rem;
}

.emoji-rating {
    font-size: 4rem;
}


@media (max-width: 768px) {
    .tenant-profile-page-on {
        height: 2100px;
    }
    .tenant-profile-page-on>h2 {
        margin-left: 1rem;
        text-align: center;
    }
    .historic-bookings-container {
        height: 1500px;
        gap: 0;
        margin-top: 1rem;
    }
    .card-house-historic-booking {
        height: 450px;
        display: block;
        padding: 0;
    }
    .picture-historic-booking {
        width: 80vw;
        height: 250px;
        display: block;
        margin: auto;
        margin-top: 1rem;
    }
    .date-historic-booking, .state-booking, .title-historic-booking {
        font-size: 1rem;
        width: 75vw;
        display: block;
        margin: 0.5rem auto;
        margin-top: 0.5rem;
    }
    .title-historic-booking {
        font-size: 1.5rem;
    }
    div.state-booking {
        text-align: center;
    }
    .button-steps-container {
        margin: 1rem auto 0 auto;
    }
    .historic-ratings-container {
        width: 90vw;
        height: 250px;
        margin: auto;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }
    .rating-historic-tenant form {
        justify-content: center;
        gap: 1rem;
    }
    .button-steps-container-bookings, .button-steps-container-ratings {
        margin: auto;
    }
    .ratings-container {
        font-size: 2rem;
        height: min-content;
    }
    .ratings-section-on {
        margin-top: 2.5rem;
    }
    .ratings-section-on>h2 {
        width: max-content;
        margin: auto;
    }
    .average-ratings {
        width: 90vw;
        height: 60px;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .average-ratings .puntuacion, .emoji-rating {
        display: none;
    }
    .average-ratings h3 {
        margin-bottom: 0.5rem;
    }
    .average-ratings-number {
        font-size: 3rem;
    }
}

