.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 20px;
}

.header h1 {
    background-color: lightgray;
    padding: 10px;
    width: 50vw;
    text-align: center;
    border-radius: 20px;
    color: black;
    font-weight: normal;
}

.title {
    text-decoration: none;
}

.menu-login-register {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 20px;
    width: 10vw;
    gap: 1rem;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}   

.menu-login-register div {
    color: black;
    text-decoration: underline;
}


header #avatar {
    padding: 0 auto;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
  }
  

.logout-boton {
    color: red;
}

.logout-boton:hover {
    text-decoration: underline;
    color: blueviolet;
    cursor: pointer;
}


@media (max-width:667px) {

    .header {
        display: block;
    }

    .header h1 {
        width: 100vw;
        margin: 0;
        padding: 0
    }

    header #avatar {
        width: 100px;
        height: 70px;
    }

    .menu-login-register  {
        display: flex;
        width: 100vw;
        height: min-content;
        margin: 0;
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 10px;
        font-size: 20px;
    }
}