.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #E9F5DB;
}

.header .title {
    text-decoration: none;
    color: #000000;
    font-size: 3rem;
    padding: 1rem;
}

.header .menu-login-register {
    display: flex;
    gap: 2rem;
    justify-content: center;
    cursor: pointer;
}

.header .menu-login-register div {
    color: black;
    text-decoration: underline;
}


#avatar {
    padding: 0 auto;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
}


.logout-boton {
    color: black;
    font-weight: bold;
}

.logout-boton:hover {
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width:768px) {

    .header {
        display: flex;
        flex-direction: column;
    }

    .header .title {
        text-decoration: none;
        color: #000000;
        font-size: 3rem;
        text-align: center;
        padding: 0;
    }

    .header .menu-login-register  {
        display: flex;
        width: 100vw;
        height: min-content;
        margin: 0;
        padding: 0;
        padding-bottom: 8px;
        font-size: 20px;
    }

    .header .menu-login-register div {
        margin: 0;
        padding: 0;
    }

    #name-profile {
        display: none;
    }
}
