.home-contenedor {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    flex-grow: 1;
}

.image-home {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 100vw;
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
}

.title-home {
    font-size: 4rem;
    color: rgb(22, 21, 21);
    padding-bottom: 5rem;
}

@media (max-width:768px) {
    .image-home .title-home {
        font-size: 2.5rem;
    }
}

@media (max-width:480px) {
    .image-home .title-home {
        font-size: 2rem;
    }
}