.home-contenedor {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.image-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
    background-size: cover;
    background-image: url('https://p0.pikist.com/photos/1/888/field-whitby-black-and-white-cottage-rural-zone-home-village.jpg  ');
    border-radius: 15px;
    box-shadow: 1px 1px 10px;
}

.title-home {
    font-size: 1.5rem;
    background: linear-gradient(to top, rgb(235, 231, 231), transparent);
    color: black;
}

@media (max-width:667px) {

    .image-home {
        width: 90vw;
    }
}